{% extends 'base.html.twig' %}

{% block title %}Halaman Login{% endblock %}

{% block body %}

<div class="container">    
    <div class="row text-center">    
        <div class="col-md-4"></div> 
        <div class="col text-center">
        <div class="card text-center" style="max-width:350px;">
        <div class="card-header">Login</div>
        <div class="card-body">
            <div class="text-center">
                <h3>Selamat Datang</h3>
            </div>
            <form action="{{ path('app_login_submit')}}" method="GET"> 
            <div class="mb-3">
                <input type="text" class="form-control" id="email" name="email" value="email">
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary mb-3">Sign in</button>
            </div>
            </form>
        </div>  
        </div>
        <div class="col-md-4"></div> 
    
    </div>
</div>

{% endblock %}